{
  "aws_region": "eu-central-1",
  "uniconns": {
    "galactic-unicorn": {
      "ssid": "my-wifi",
      "psk": "insecure",
      "country": "DE",
      "type": "GALACTIC"
    },
    "cosmic-unicorn": {
      "ssid": "my-wifi",
      "psk": "insecure",
      "country": "DE",
      "type": "COSMIC"
    }
  }
  "clients": [
      "desktop"
    ]
}
